body{
    background-color: black; 
}

nav a {
    color: blue;
    text-decoration: none;
    border-bottom: 4PX solid blue;
    
}

p {
    color: gold;
}
h1 {
    color:black;
    font-size:39px;
}

h2 {
    color: black; 
}

#hello-img{
    width: 250px;
    height: auto;
}


#sup-img{
  width: 500px;
  height: auto;
}
 
#PHS-img{
  width: 500px;
   hight: auto;
}

#hi{
    padding-left:500px;
    padding-right:auto;
    
}









